<%- include('includes/head.ejs') %>

  <div id="login">
    <h3>로그인 성공~</h3>
    <h5>
      <%= locals.user ? user : "User" %>
    </h5>
    <a href="/login/logout">로그아웃</a>
  </div>

  <%- include('includes/end.ejs') %>