<%- include('includes/head.ejs') %>

  <%- include('includes/navigation.ejs') %>
    <h2>로그인 창이에요</h2>
    <div>
      <% if(locals.logout){ %>
        <div class="alter alert-success text-center">
          <%= logout %>
        </div>
        <% } %>
    </div>
    <form action="/login/login_check" method="post">
      이메일 <input type="email" name="email">
      비밀번호 <input type="password" name="password">
      <input type="submit" value="로그인">
    </form>
    <%- include('includes/end.ejs') %>